// Couleurs
$primary-color: hsl(206, 78%, 21%);
$primary-color-dark: hsl(206, 64%, 11%);
$primary-color-light: hsl(206, 70%, 53%);

$secondary-color: hsl(210, 29%, 24%);
$secondary-color-dark: hsl(210, 29%, 29%);
$secondary-color-light: hsl(210, 2%, 42%);

$accent-color: hsl(6, 78%, 57%);
$accent-color-dark: hsl(6, 63%, 46%);
$accent-color-light: hsl(6, 78%, 57%);

$warning-color: hsl(33, 78%, 57%);
$warning-color-dark: hsl(33, 70%, 26%);
$warning-color-light: hsl(33, 54%, 66%);

$danger-color: hsl(0, 78%, 57%);
$danger-color-dark: hsl(0, 65%, 36%);
$danger-color-light: hsl(0, 54%, 66%);

$success-color: hsl(120, 63%, 47%);
$success-color-dark: hsl(120, 70%, 26%);
$success-color-light: hsl(120, 54%, 66%);

$info-color: hsl(180, 78%, 57%);
$info-color-dark: hsl(180, 70%, 26%);
$info-color-light: hsl(180, 54%, 66%);

$very-light-bg: hsl(265, 61%, 79%);
$light-bg: hsl(265, 66%, 72%);
$medium-bg: hsl(265, 27%, 54%);
$dark-bg: hsl(263, 31%, 37%);
$very-dark-bg: hsl(264, 32%, 20%);

$dark-text: hsl(0, 0%, 15%);
$light-text: hsl(0, 0%, 85%);

$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);

// Polices
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-size-small: 0.8rem;
$text-size-medium: 1rem;
$text-size-big: 1.2rem;

// Espacements
$padding-base: 20px;
$padding-big: 40px;
$padding-small: 10px;

$margin-base: 20px;
$margin-big: 40px;
$margin-small: 10px;
$margin-very-small: 5px;

$space-base: 10px;
$space-big: 20px;
$space-small: 5px;

$radius-base: 4px;
$radius-big: 8px;
$radius-small: 2px;

$border-base: 1px;
$border-big: 2px;
$border-very-big: 4px;
$border-small: 0.5px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;