{% extends 'base.html.twig' %}

{% block title %}Dessin de Fractales{% endblock %}

{% block body %}
            
        <!-- Point d'ancrage React -->
        <div id="react-root"></div>
    
{% endblock %}
