.color-warning {
    color: $warning-color;
}

.color-danger {
    color: $danger-color;
}

.color-success {
    color: $success-color;
}

.color-info {
    color: $info-color;
}

.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.color-accent {
    color: $accent-color;
}