.text-primary {
    color: $primary-color !important;
}

.text-secondary {
    color: $secondary-color !important;
}

.text-white {
    color: $white-color !important;
}

.text-black {
    color: $black-color !important;
}

.text-danger {
    color: $danger-color !important;
}

.text-danger-dark {
    color: $danger-color-dark !important;
}

.text-danger-light {
    color: $danger-color-light !important;
}

.text-info {
    color: $info-color !important;
}

.text-info-dark {
    color: $info-color-dark !important;
}

.text-info-light {
    color: $info-color-light !important;
}

.text-warning {
    color: $warning-color !important;
}

.text-warning-light {
    color: $warning-color-light !important;
}

.text-warning-dark {
    color: $warning-color-dark !important;
}

.text-success {
    color: $success-color !important;
}

.text-success-dark {
    color: $success-color-dark !important;
}

.text-success-light {
    color: $success-color-light !important;
}

.text-small-primary {
    color: $primary-color;
    font-size: small;
}

.text-small-secondary {
    color: $secondary-color;
    font-size: small;
}

.text-small-white {
    color: $white-color;
    font-size: small;
}

.text-small-black {
    color: $black-color;
    font-size: small;
}

.text-small-danger {
    color: $danger-color;
    font-size: small;
}

.text-small-info {
    color: $info-color;
    font-size: small;
}

.text-small-warning {
    color: $warning-color;
    font-size: small;
}

.text-small-success {
    color: $success-color;
    font-size: small;
}

.text-medium-primary {
    color: $primary-color;
    font-size: medium;
}

.text-medium-secondary {
    color: $secondary-color;
    font-size: medium;
}

.text-medium-white {
    color: $white-color;
    font-size: medium;
}

.text-medium-black {
    color: $black-color;
    font-size: medium;
}

.text-medium-danger {
    color: $danger-color;
    font-size: medium;
}

.text-medium-info {
    color: $info-color;
    font-size: medium;
}

.text-medium-warning {
    color: $warning-color;
    font-size: medium;
}

.text-medium-success {
    color: $success-color;
    font-size: medium;
}

.text-large-primary {
    color: $primary-color;
    font-size: large;
}

.text-large-secondary {
    color: $secondary-color;
    font-size: large;
}

.text-large-white {
    color: $white-color;
    font-size: large;
}

.text-large-black {
    color: $black-color;
    font-size: large;
}

.text-large-danger {
    color: $danger-color;
    font-size: large;
}

.text-large-info {
    color: $info-color;
    font-size: large;
}

.text-large-warning {
    color: $warning-color;
    font-size: large;
}

.text-large-success {
    color: $success-color;
    font-size: large;
}

.text-xlarge-primary {
    color: $primary-color;
    font-size: x-large;
}

.text-xlarge-secondary {
    color: $secondary-color;
    font-size: x-large;
}

.text-xlarge-white {
    color: $white-color;
    font-size: x-large;
}

.text-xlarge-black {
    color: $black-color;
    font-size: x-large;
}

.text-xlarge-danger {
    color: $danger-color;
    font-size: x-large;
}

.text-xlarge-success {
    color: $success-color;
    font-size: x-large;
}

