/* assets/styles/components/_buttons.scss */
.btn {
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: $primary-color !important;

    &:hover {
        transition: background-color 0.3s ease;
        background-color: $primary-color-light !important;
    }
}

.btn-primary {
    background-color: $primary-color !important;
    color: $white-color;
    height: 40px;
    
}

.btn-danger {
    background-color: $danger-color !important;
    color: $white-color;
    height: 40px;
}

.btn-small-primary {
    background-color: $primary-color !important;
    color: $white-color;
    //height: 40px;
    max-width: 60px !important;
    min-width: 60px !important;
    width: 60px !important;
    //font-size: small;
}
