/* assets/styles/components/_buttons.scss */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: $primary-color !important;

    &:hover {
        transition: background-color 0.3s ease;
        background-color: $primary-color-light !important;
    }
}

.btn-primary {
    background-color: $primary-color !important;
    color: white;
    height: 40px;;
    
}

.btn-small-primary {
    background-color: $primary-color !important;
    color: white;
    height: 50px;
    width: 80px;
    //font-size: small;
}
