/* assets/styles/components/_buttons.scss */
.btn {
    display: block;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-color: $primary-color !important;

    &:hover {
        transition: background-color 0.3s ease;
        background-color: $primary-color-light !important;
    }
}

.btn-sm {
    padding: $padding-very-small;
    font-size: $text-size-small;
    //height: 45px !important;
}

.btn-primary {
    background-color: $primary-color !important;
    color: $white-color;
    height: 40px; 
}

.btn-secondary {
    background-color: $secondary-color !important;
    color: $white-color;
    height: 40px;
}

.btn-accent {
    background-color: $accent-color !important;
    color: $white-color;
    height: 40px;
}

.btn-info {
    background-color: $info-color !important;
    color: $white-color;
    height: 40px;
}

.btn-success {
    background-color: $success-color !important;
    color: $white-color;
    height: 40px;
}

.btn-warning {
    background-color: $warning-color !important;
    color: $white-color;
    height: 40px;
}

.btn-danger {
    background-color: $danger-color !important;
    color: $white-color;
    height: 40px;
}

.btn-primary-selected {
    background-color: $primary-color-light !important;
    color: $white-color;
    height: 40px;
}

.btn-small-primary {
    background-color: $primary-color;
    color: $white-color;
    //height: 40px;
    width: 65px !important;
    min-width: 65px !important;
    max-width: 65px !important;
    //font-size: small;
}
