.react-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-base;

    .react-input {
        padding: $padding-small;
        border: 1px solid $primary-color-light;
        border-radius: $radius-base;
        font-size: 1rem;
        border: none;
    }
}

