#react-footer {
        background-color: $primary-color;
        color: white;
        padding: $padding-base;
        text-align: center;
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin-top: $margin-base;
        }
    }