#react-header {
        background-color: $primary-color;
        color: white;
        padding: $padding-base;
        text-align: center;
        width: 100vw;
        display: flex;
        justify-content: center;
        gap: $space-base;
    }