.modal-dark {
    background-color: $dark-bg;
    color: $light-text;


    .modal-dark-header {
        background-color: $medium-bg;
        color: $light-text;
        display: flex;
        justify-content: center;
    }

    .modal-dark-body {
        background-color: $medium-bg;
        color: $dark-text;

        .modal-dark-input-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            //gap: $space-base;
            
            p {
                background-color: $light-bg;
                border-radius: $radius-base;
                border: 1px solid $dark-bg;
                padding: $padding-base;
                margin-top: $margin-small;
                margin-bottom: $margin-small;
                
                width: 100%;
                
                box-sizing: border-box;
                
                padding-left: $margin-base;
                padding-right: $margin-base;
            }
        }

        
    }

    .modal-dark-footer {
        background-color: $medium-bg;
        color: $light-text;
    }
}