.draw-page {
    width: 100%;

    .draw-zone {
        display: block;
        width: 100%;
        //height: 100%;
        height: 600px;
        background-color: $black-color;
        border: 1px solid $white-color;
        cursor: crosshair;  
    }

    .draw-zone-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: $space-base;
        width: 100%;
        margin-left: $margin-base;
        margin-right: $margin-base;

        .react-julia-fractal-management-container {
            display: flex;
            padding: $padding-small;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0px;
            background-color: $light-bg;
            border-radius: $radius-base;
            width: 100%;
            margin-bottom: $margin-small;
        }

        .react-draw-fractal-infos-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: $space-base;
        }

        .react-julia-fractal-management-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $space-base;
            //height: 60px;

            

            
        }

        .react-colors-management-container {
            display: flex;
            padding: $padding-small;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0px;
            background-color: $light-bg;
            border-radius: $radius-base;
            width: 100%;
            margin-bottom: $margin-small;

            #canvasStart, #canvasEnd {
                width: 100%; 
                height: $margin-small;
                display: block;
                border-radius: $radius-base
            }

            .gradient-sliders-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                //gap: $space-base;

                .gradient-canvas-container {
                    position: relative;
                    margin-bottom: $margin-very-small; 
                }

                .gradient-range {
                    background-color: $light-bg;
                    //color: $dark-bg

                    // Track (la barre de fond)
                    &::-webkit-slider-runnable-track {
                        width: 100%;
                        height: $margin-small;
                        background: $medium-bg;
                        border-radius: $radius-base;
                        border: 1px solid $medium-bg;
                    }


                    &::-moz-range-track {
                        width: 100%;
                        height: $margin-small;
                        background: $medium-bg;
                        border-radius: $radius-base;
                        border: 1px solid $medium-bg;
                    }

                    // ⭐ Thumb Webkit
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: $dark-bg;
                        cursor: pointer;
                        //border: 2px solid $dark-bg;
                        margin-top: -6px; // Centre le thumb sur le track
                        
                        &:hover {
                            background: lighten($light-bg, 5%);
                        }
                    }

                    // ⭐ Thumb Firefox (séparé du webkit)
                    &::-moz-range-thumb {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: $dark-bg;
                        cursor: pointer;
                        //border: 2px solid $dark-bg;
                        
                        &:hover {
                            background: lighten($light-bg, 5%);
                        }
                    }
                    
                }
            }

            .preview-gradient-container {
                border: $border-big solid $medium-bg;
                border-radius: $radius-base;
                padding: $padding-small;
                background-color: $medium-bg;
                display: flex;
                justify-content: center; // ⭐ Centrer le canvas

                .preview-gradient-canvas {
                    width: 100%; // ⭐ Largeur fixe
                    height: 20px;
                    display: block;
                    border-radius: $radius-small;
                }
            } 
        }
    }



    .react-fractal-list {
        margin-top: $margin-small;
        padding: $padding-small;
        background-color: $light-bg;
        border-radius: $radius-base;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: $space-base;

        .react-fractal-list-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: $space-base;
            flex-wrap: wrap;
            width: 100%;


            .react-fractal-list-element {
                padding: $padding-base;
                background-color: $medium-bg;
                border-radius: $radius-base;
                width: 226px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: $space-base;

                p {
                    color: $dark-text;
                    margin: 0;
                }

            }
        }
    }

    .zoom-percent-progress-bar {
        // Conteneur de la progress bar
        &.progress {
            background-color: $dark-bg; // Couleur de fond (partie vide)
            border: 1px solid $medium-bg; // Optionnel : bordure
            
            // Barre de progression (partie remplie)
            .progress-bar {
                color: $dark-text; // Couleur du texte
                font-weight: 600; // Optionnel : texte en gras
                font-size: 0.8rem; // Optionnel : taille du texte
            }
        }
    }

    
}

.fractal-values-input {
    background-color: $very-light-bg;
    color: $dark-text;
    border: none;
}

.fractal-values-input-dark {
    background-color: $light-bg;
    color: $dark-text;
    border: 1px solid $dark-bg;
}

.fractal-values-range {
    margin-top: $margin-very-small;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //gap: $space-base;

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: $margin-small;
        background: $medium-bg;
        border-radius: $radius-base;
        border: 1px solid $medium-bg;
    }


    &::-moz-range-track {
        width: 100%;
        height: $margin-small;
        background: $medium-bg;
        border-radius: $radius-base;
        border: 1px solid $medium-bg;
    }

    // ⭐ Thumb Webkit
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $dark-bg;
        cursor: pointer;
        //border: 2px solid $dark-bg;
        margin-top: -6px; // Centre le thumb sur le track
        
        &:hover {
            background: lighten($light-bg, 5%);
        }
    }

    // ⭐ Thumb Firefox (séparé du webkit)
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $dark-bg;
        cursor: pointer;
        //border: 2px solid $dark-bg;
        
        &:hover {
            background: lighten($light-bg, 5%);
        }
    }
}

.fractal-values-range-dark {
    margin-top: $margin-very-small;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //gap: $space-base;

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: $margin-small;
        background: $dark-bg;
        border-radius: $radius-base;
        border: 1px solid $medium-bg;
    }


    &::-moz-range-track {
        width: 100%;
        height: $margin-small;
        background: $dark-bg;
        border-radius: $radius-base;
        border: 1px solid $medium-bg;
    }

    // ⭐ Thumb Webkit
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $very-dark-bg;
        cursor: pointer;
        //border: 2px solid $dark-bg;
        margin-top: -6px; // Centre le thumb sur le track
        
        &:hover {
            background: lighten($light-bg, 5%);
        }
    }

    // ⭐ Thumb Firefox (séparé du webkit)
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $very-dark-bg;
        cursor: pointer;
        //border: 2px solid $dark-bg;
        
        &:hover {
            background: lighten($very-dark-bg, 10%);
        }
    }
}

#juliaFractalCanvas {
    width: 400px;
    height: 400px;
    background-color: $black-color;
    border: $border-very-big solid $dark-bg;
    border-radius: $radius-base;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $margin-small;
    margin-top: $margin-small;
    display: block;
}