.draw-page {
    width: 100%;

    .draw-zone {
        display: block;
        width: 100%;
        //height: 100%;
        height: 600px;
        background-color: $black-color;
        border: 1px solid $white-color;
    }
}